<main class="main">
    <div class="content">
        <div class="left-side">

            <img src="assets/logo.png" alt="{{ title }}'s image" class="logo">
            <div class="d-flex justify-content-center align-items-center">
                <h1>{{ title }}</h1>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <a [routerLink]="'/advisors/list'" class="btn btn-primary btn-lg"> Go to list</a>
            </div>
        </div>
    </div>
</main>