<app-header title="Advisor List" />
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-1">
        </div>
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">SIN</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Health</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (advisor of advisors; track advisor.id) {
                    <tr>
                        <th scope="row">{{ advisor.id }}</th>
                        <td>
                            {{ advisor.fullName }}
                        </td>
                        <td>{{ advisor.sin}}</td>
                        <td>{{ advisor.phoneNumber }}</td>
                        <td><app-health-status [value]="advisor.healthStatus" /></td>
                        <td>
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-light no-caret" id="dropdownAction" ngbDropdownToggle>
                                    . . .
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownAction">
                                    <a [routerLink]="['/advisors/details', advisor.id]" ngbDropdownItem >View details</a>
                                    <button ngbDropdownItem class="text-danger"  (click)="confirmDelete(advisor)">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                    [rotate]="true" [ellipses]="true" [boundaryLinks]="true" (pageChange)="refreshAdvisors()">
                </ngb-pagination>

                <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
                    (ngModelChange)="refreshAdvisors()">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="20">20 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                </select>
            </div>
        </div>
        <div class="col col-lg-1">
        </div>
    </div>
</div>