.health-status-display {
    text-align: center;
  }
  
  .green {
    background-color: green;
    color:white;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .red {
    background-color: red;
    color:white;
  }
  
  .black {
    background-color: black;
  }
  